{% extends 'root.html' %}

{% block content %}
{{ masterclass.title }}
{{ masterclass.description }}
{{ masterclass.author }}
{{ masterclass.time }}
{{ masterclass.locate }}
{{ masterclass.price }}
<img src="{{ masterclass.photo.url }}" style="width: 200px">





<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Забронировать
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Бронирование</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          ТУТ БУДЕТ ФОРМА БРОНИРОВАНИЯ


          <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Забронировать</button>
          </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary">Забронировать</button>
      </div>
    </div>
  </div>
</div>







{% endblock %}
