{% extends 'root.html' %}
{% block content %}
    <h1>достпуные курсы</h1>

    <div>
        <ul>
                <li>
                    <a href="/">Все</a>
                </li>
                {% for category in category %}
                    <li>
                    <a href="/{{ category.pk }}">
                {{ category.title }}
                    </a>
                    </li>
                {%endfor %}
        </ul>
    </div>

    <div>
    {% for masterclasses in masterclass %}


        <a href="/detail/{{ masterclasses.pk }}">
        <p>{{ masterclasses.title }}</p>
        <p>{{ masterclasses.price }}</p>
        </a>

    {% endfor %}
    </div>
{% endblock %}