{% extends 'root.html' %}
{% load static %}

{% block content %}
    <div class="div-content">


    <h2>Мой профиль</h2>
    <hr>
    <p>Мой ник: {{ user.username }}</p>
    <p>Мое уникальное id: #{{ user.id }}</p>
    <p>Меня зовут:{{ user.first_name }}</p>
    <p>{{ user.last_name }}</p>

    <button class="btn btn-primary" disabled>Редактировать данные</button>

    <hr>
    <h2>Мои курсы:</h2>

{#    {% for bron in bron %}#}
{#        <p>мастеркласс: {{ bron.masterclass_id }}</p>#}
{#        <p>статус: {{ bron.status }}</p>#}
{#        <p>{{ bron.get_status_display }}</p>#}
{#        <p>кол-во билетов: {{ bron.count }}</p>#}
{#        <p>{{ bron.user_id }}</p>#}
{#        <hr>#}
{#    {% endfor %}#}



    <table class="table">
  <thead>
    <tr>
      <th scope="col">Название курса</th>
      <th scope="col">Статус</th>
      <th scope="col">Кол-во билетов</th>
    </tr>
  </thead>
          {% for bron in bron %}
  <tbody>
    <tr>
      <td>{{ bron.masterclass_id }}</td>
      <td>{{ bron.get_status_display }}</td>
      <td>{{ bron.count }}</td>
    </tr>
  </tbody>
    {% endfor %}
</table>

    </div>
{% endblock %}